.total
{	
	margin:5%;
}

#create
{    
    margin-left:50px;
    
}
.p_Selector
{
        width : 200px;
        height : 80px;
        background-color : #4C4C4C;
        margin : 20px;
        padding : 10px;
        float : left;
        text-overflow : ellipsis;
        color : white;
        border-radius : 5px;
        text-align : center;
        vertical-align:middle;
        line-height:20px;
        display:table;
}
.btext
{
    
    vertical-align:middle;
    clear : both;
}
.btext2
{
    display:table-cell;
    vertical-align:middle;
}
.editp
{
    float : right;
 }
#page-wrapper
{
    height : 1200px;
}
.p_Selector2
{
    width : 200px;
        height : 80px;
        
        margin : 20px;
        padding : 10px;
        float : left;
        text-overflow : ellipsis;
        color : white;
        border-radius : 5px;
        text-align : center;
        vertical-align:middle;
        line-height:20px;
        display:table;
    background-color :cornflowerblue;
}

body{
    overflow-x:hidden
}
